$primary: blue;
$secondary: darkviolet;

$border-radius: 2rem;

$spacer: 1.5rem;

$m-4: $spacer * 1.5;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

.navbar-brand {
    font-size: x-large;
}

.card {
    border: none;
    box-shadow: 3px 5px 10px lightgray;
}

.btn {
    box-shadow: 1px 2px 3px lightgray;
    
    &-arrow::after {
        content: ">";
        margin-left: $spacer;
    }
}

section {
    margin-bottom: $m-4;
}

.mobile-profile-pic {
    object-fit: cover;
    height: 400px;
}

.desktop-profile-pic {
    width: 400px;
}

#introSection {
    padding-top: $m-4;
    padding-bottom: $m-4;
    background: linear-gradient(45deg, violet, lightyellow, lightblue);
    background-size: 400%;
    animation: background 30s infinite alternate;
}

@keyframes background {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}