* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

section {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}
section:first-child {
  margin-top: 0;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

button {
  border: none;
  border-radius: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: blue;
  color: white;
  display: flex-inline;
  justify-content: center;
  align-items: center;
  transition: box-shadow 250ms ease-in-out;
  box-shadow: 2px 3px 10px lightblue;
}
button::after {
  content: ">";
  margin-left: 0.5rem;
}
button:hover {
  cursor: pointer;
  box-shadow: 4px 6px 10px lightblue;
}
button.btn--cta {
  background-color: darkviolet;
  color: white;
}
button:nth-child(even) {
  margin-left: 0.5rem;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: calc(100% - 3rem);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  margin: 1.5rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.col--full-width {
  width: 100% !important;
}
.col--stretch {
  align-items: stretch;
}
.col--justify-content-start {
  justify-content: start;
}
.col--justify-content-end {
  justify-content: end;
}
.col--align-items-center {
  align-items: center;
}
.col--align-items-end {
  align-items: flex-end;
}
.col--padded {
  padding: 0.5rem;
}

.card {
  width: 100%;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 5px 10px 20px lightblue;
}

.card__body {
  width: 100%;
}

.card__img {
  margin: 0;
  margin-bottom: -3px;
  width: 100%;
  height: 250px;
}

.card__content {
  background-color: white;
  margin: 0;
  padding: 1.5rem;
}

.tag {
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0.5rem;
  color: white;
  display: flex-inline;
  justify-content: center;
  align-items: center;
  transition: box-shadow 250ms ease-in-out;
  box-shadow: 1px 2px 3px lightblue;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
}
.tag:first-child {
  margin-left: 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .col:nth-child(0) {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }
  .container {
    max-width: 960px;
  }
  .mobile-only {
    display: none;
  }
  .col {
    width: 50%;
  }
  :not(.col--full-width).col:nth-child(odd) {
    width: calc(50% - 1.5rem);
    margin-right: 1.5rem;
  }
}
@media (max-width: 992px) {
  .desktop-only {
    display: none;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
#introSection {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: linear-gradient(45deg, violet, lightyellow, lightblue);
  background-size: 400%;
  -webkit-animation: background 30s infinite alternate;
          animation: background 30s infinite alternate;
}

@-webkit-keyframes background {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes background {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.rounded-profile-pic {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.text-primary {
  color: blue;
}

.text-secondary {
  color: orange;
}

.text-cta {
  color: darkviolet;
}/*# sourceMappingURL=main.css.map */